body {
    font-family: Arial, sans-serif;
    background-color: #B3C8CF;
    margin: 0;
    padding: 0;
 }
 
 .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 .admin-product-form-container {
    margin-bottom: 20px;
 }
 
 .admin-product-form-container h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
 }
 
 .box {
   width: 100%;
   margin-bottom: 10px;
   padding: 8px;
   border: 1px solid #ff0000;
   border-radius: 3px;
   background-color: #ffffff; /* Default box color */
   transition: background-color 0.3s; /* Smooth transition effect */

}

.box:hover {
   background-color: #f9f9f9; /* Hover box color */
}

/* Additional CSS for the hover effect */
.box:hover {
   box-shadow: 0 0 10px rgba(255, 0, 0, 0.1); /* Add shadow on hover */
}

 
.btn {
    padding: 8px 16px;
    margin-right: 5px; /* Add some margin between buttons */
    background-color: #B3C8CF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
 
 .btn:hover {
    background-color: #ff0000;
 }

 
 .product-display-table {
    width: 100%;
    border-collapse: collapse;
 }
 
 .product-display-table th,
 .product-display-table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
 }
 
 .product-display-table th {
    text-align: left;
 }
 
 .product-display-table img {
    max-width: 100px;
    height: auto;
 }
 
 .message {
    display: block;
    padding: 8px;
    margin-bottom: 10px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
 }
 .goback-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000; /* Ensure it's above other elements */
}

.goback-container .btn {
    padding: 8px 16px;
    background-color: #B3C8CF;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none;
}

.goback-container .btn:hover {
    background-color: #ff0000;
}
 