* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.content {
    flex: 1 0 auto; /* Allow the content to grow */
}
footer {
    background-color: #B3C8CF;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.socialIcons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.socialIcons a {
    text-decoration: none;
    padding: 8px;
    background-color: white;
    margin: 6px;
    border-radius: 50%;
}
.socialIcons a i {
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}
.footerBottom p {
    color: white;
    opacity: 0.7;
}
.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}
@media (max-width: 700px) {
    .socialIcons a {
        padding: 6px;
        margin: 4px;
    }
}
