/* Import Google font - Poppins */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('e.jpg'); /* Replace 'background.jpg' with the path to your background image */
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.container {
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 400px; /* Set the desired width of the login card */
  background: rgba(255, 255, 255, 0.8); /* Change the last value (0.8) to adjust transparency */
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px; /* Added padding for better spacing */
}

.container .registration {
  display: none;
}

#check:checked ~ .registration {
  display: block;
}

#check:checked ~ .login {
  display: none;
}

#check {
  display: none;
}

.container .form {
  padding: 2rem;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input.button {
  color: #fff;
  background: #B3C8CF;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.form input.button:hover {
  background: #ff0000;
}



/* Icon for input fields */
.input-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.input-icon i {
  color: #333;
  margin-right: 10px;
  margin-bottom: 10%;
  left: 20%;
}
