body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B3C8CF;
}

.profile {
  max-width: 400px;
   margin: 50px auto 0; 
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile h2 {
  margin-bottom: 20px;
  text-align: center;
}
.profile label {
  font-weight: bold;
}
.profile-image i {
  display: block;
  margin: 0 auto 20px; 
  font-size: 150px; 
  line-height: 150px;
  width: 150px; 
  height: 150px; 
  text-align: center; 
  border-radius: 50%; 
  background-color: #ccc; 
  color: #fff; 
}


.profile-info {
  margin-bottom: 20px;
  
}
.profile-info label {
  display: inline-block;

}
.profile-info p {
  display: inline-block;
  margin: 0;
}
/* Form input hover */
input[type="text"]:hover,
input[type="email"]:hover {
  border-color: #ff0000; /* Change border color on hover */
}
.update-button {
  text-align: center;
  margin: 40px;
}

/* Button styles */
.update-button button {
  padding: 10px 20px;
  background-color: #B3C8CF;
  color: #fff;
  border-radius: 3px;
  border: none; /* Remove border */
  cursor: pointer; /* Add cursor pointer on hover */
}

/* Button hover */
.update-button button:hover {
  background-color: #ff0000; /* Change background color on hover */
}
